body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
  color: seashell;
  background-color: black;
  opacity: .9;
  margin: 0px;
}

h2,
h4 {
  padding: 10px;
  margin: 0px;
}

a {
  color: seashell;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav {
  flex-grow: 1;
  text-align: right;
}

nav span {
  padding: 0px 10px;
}

main {
  padding-top: 69px;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#missionBanner{
  background-color: black;
}
#featuredTea {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#featuredTea img {
  width: 300px;
  height: 200px;
}

figure {
  margin: 10px;
}
